.container {
    display: flex;
    background-color: #222;
    flex-direction: row;
    position: relative;
    margin: -14px -14px 0 -14px;
    padding: 0;
    justify-content: center;
    color: #eee;
    list-style: none;
    /* column-gap: 0.5rem; */
    li {
        padding: 8px 14px;
        font-size: 24px;
        border-right: solid #fff 1px;
        &:first-of-type {
            border-left: solid #fff 1px;
        }
        .selected {
            border-bottom: solid #fff 1px;
        }
    }
}
