p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    column-gap: 5px;
}
.cardContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.FAB {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 60px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    &.add {
        height: 60px;
        right: 20px;
        font-size: 38px;
        color: #222;
        border: solid 4px #444;
        background-color: #eee;
    }
    &.edit {
        height: 60px;
        left: 20px;
        font-size: 38px;
        color: #222;
        border: solid 4px #444;
        bakground-color: #eee;
    }
}
